@using API.Models
@if (User.Identity.IsAuthenticated)
{
    <table class="table">
        <tr>
            <th>ID</th>
            <th>@ViewBag.order.Id</th>
        </tr>
        <tr>
            <th>Name</th>
            <th>@ViewBag.order.Name</th>
        </tr>
        <tr>
            <th>EMail</th>
            <th>@ViewBag.order.Email</th>
        </tr>
        <tr>
            <th>Message</th>
            <th>@ViewBag.order.Message</th>
        </tr>
        <tr>
            <th>Status</th>
            <th>@ViewBag.currentStatus.Name ( @ViewBag.order.StatusId )</th>
        </tr>
    </table>

    <form method="post" action="/orders/Edit">
        <input type="hidden" name="orderId" value="@ViewBag.order.Id" />

        <select name="newStateId">
            @foreach (OrdersStatus state in ViewBag.statuses)
            {
                @if (state.Id == ViewBag.order.StatusId)
                {
                    <option value="@state.Id" selected>@state.Name</option>
                }
                else
                {
                    <option value="@state.Id">@state.Name</option>
                }
                
            }
        </select>

        <input type="submit" value="Отправить" />
    </form>
}