@using API.Models

@if (User.Identity.IsAuthenticated)
{
    <table class="table">
        <thead>
            <tr class="row">
                <th class="cell">ID</th>
                <th class="cell">Имя</th>
                <th class="cell">EMail</th>
                <th class="cell">Сообщение</th>
                <th class="cell">Состояние</th>
                <th class="cell"></th>
            </tr>
        </thead>
        <tbody>
        @foreach (Order order in ViewBag.orders)
        {
            <tr class="row">
                <th class="cell">@order.Id</th>
                <th class="cell">@order.Name</th>
                <th class="cell">@order.Email</th>
                <th class="cell">@order.Message</th>
                <th class="cell">@order.StatusId</th>
                <th class="cell"><a href="/Orders/Edit/@order.Id">Редактировать</a></th>
            </tr>
        }
        </tbody>
    </table>
}
